
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
.heading{
    font-size: 60px;
}
.description{
    font-size: x-large;
}
label{
    font-size: xx-large;
}
input{
    font-size: x-large;
    max-width: 800px;
    width: 100%;
    max-height: 50px;
    height: 100%;
}
.btn{
    padding-top: 2rem;

}
caption{
    font-size: x-large;
}

#tr{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    padding: 0px;
}
.grid-item{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 13px;
    font-size: 30px;
    text-align: center;
}
@media screen and (max-width:770px) {
    
#tr{
    grid-template-columns: repeat(1,1fr) ;
}
    
}
.section-footer {
    padding: 68px 25px 30px 0;
    text-align: center;
    position: relative;
    top: 13rem;
    background-color: black;


}
.section-footer ul {
    color: rgba(255, 255, 255, 0.734);
    margin: -3.3rem auto -0.5rem auto;

}
.section-footer ul>li {
    color: rgba(255, 255, 255, 0.734);
    padding: 10px;
    display: inline-grid;
}